//  Custom Buttons 

.corrida-btn {
    display: inline-block;
    background: $green;
    padding: 12px 15px;
    color: $white;
    text-transform: uppercase;
    transform: skew(-20deg);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 2em;    
}

.big-btn {
    font-size: 2.5em;
    text-align: right;
    margin-left: .75em;
}

.register {
    margin-bottom: 48px;
}
