// Sponsor Styles
.sponsor-link { display: block;      }
.sponsor-img  { margin: 0 auto 24px; }
.sponsor-col  { padding-top: 56px;   }
.sponsors h2  { padding-bottom: 48px;}
.sponsor      { margin: 0 auto 12px; }
