// General
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: $white;
    color: darken($blue, 15%);
}

h1, h2, h3, h4 {
    font-weight: bold;
}

// Navbar
.navbar {
    font-family: 'Pathway Gothic One', sans-serif;}


.navbar-brand {
    text-transform: uppercase;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-form {
    
    @media(min-width:768px){
        
        padding: 0;        
    }
}



// SVG fills

#runner {
    fill: $white;
    margin: 0 auto;
    display: block;
}

#clipboard {
    fill: $blue;
    height: 90px;
    width: 90px;
}



// Footer 
.footer {
    background: darken($blue, 15%);    
    height: 100%;
    color: $white;
    
    .logo-corrida {
        height: 5em;
        position: relative;
        top: 12px;
    }
    
    .title {
        font-size: 4vw;
        font-weight: bold;
    }
    
    .copyright {
        color: gray;
    }
    
}

