// Backgrounds

.bg {
    padding-top: 48px;
    padding-bottom: 48px;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 6.5vw;
    }
}

.white-bg {
    background: $white;
    color: $blue;
}
.green-bg {
    background: $green;
    color: $white;
}
.blue-bg {
    background: $blue;
    color: $white;
}


// Modules
.module {
     
    h2 {
        margin-bottom: 12*2px;
        text-transform: uppercase;  
    }
    
    .img-responsive, .embed-responsive {
        margin-bottom: 12px;
    }


}

.home-module {
    @extend .module;
    background: url('../images/corrida2-white.jpg'); 
    background-size: cover;
    padding-top: 12px;
    
    h2 {
        margin-bottom: 12*2px;
        text-transform: uppercase;  
    }
    
}

.module-wrap {
    margin: 48px 0;
}

.module-content {
    margin-bottom: 48px;
}