// Home Recorridos
%recorrido {
    font-size: 7vw;
    text-align: center;
    color: $white;
    padding: 12px 0;
}



.dosk {
    @extend %recorrido;
    background: $light-green;
}

.cuatrok {
    @extend %recorrido;
    background: #ffc000;
}

.sietek {
    @extend %recorrido;
    background: #ed0038;
}
