// Reglamento;

.articulo {
    margin-bottom: 12*4px;
    
    h3 {margin-bottom: 12px;}
    
    article {
        margin-bottom: 12*3px;
    }
}

.anchor {
    position: absolute;
    margin: -5.15em;

}
